@model faskion.Models.Capsule

@{
    ViewBag.Title = "Edit";
}

<style>
    .backtolist a {
        color: black;
        font-size: 20px;
    }

    .center {
        text-align: center;
    }
</style>
<div class="center">


<h1>Edit</h1>






@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Capsule</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CapsuleId)

        <div class="form-group">
            @Html.LabelFor(model => model.capsuleCategory, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.capsuleCategory, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.capsuleCategory, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.capsuleStill, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.capsuleStill, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.capsuleStill, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="backtolist">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

</div>
