@model faskion.Models.form
<html>
<head>
    <title>CONTACT RESULT</title>
</head>

<body>
    <div>
        @if (Model.Choice == true)
        {
            <h1>Thanks:)</h1>
            <h2>Your contact information has been received</h2>
            <b>
                Name: @ViewBag.Name<br />
                SurName: @ViewBag.SurName<br />
                Email: @ViewBag.Email<br />
                Phone: @ViewBag.Phone<br />
                Gender: @ViewBag.Gender<br />
                Comment:@ViewBag.Comment<br />
            </b>
                @Html.ActionLink("Back to Home", "Home")
        }
            
            else
            {
                <h1> Thanks! </h1>
                @Html.ActionLink("Back to Home", "Home")

            }
        
    </div> 
    
</body>
</html>
